<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">GifsApp</h3>
  <hr class="text-white">

  <div class="list-group list-reset">
    <div *ngFor="let tag of (tags)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <span (click)="searchTag(tag)" class="flex-grow-1">
        {{ tag | titlecase }}
      </span>
      <button (click)="removeTag(tag)" class="btn btn-danger btn-sm ml-2 bi bi-trash"></button>
    </div>
  </div>
</div>
